<%= form_with(model: article, url: article.persisted? ? admin_article_path(article) : admin_articles_path, class: "contents") do |form| %>
  <!-- Display alert message if there is a flash alert (profanity error) -->
  <% if flash[:alert] %>
    <div class="alert alert-danger bg-red-100 text-red-700 border-l-4 border-red-500 p-4 mb-4">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <!-- Display model validation errors -->
  <% if article.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Article title field -->
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <!-- Article description field -->
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <!-- Article cover field -->
  <div class="form-group">
  <%= form.label :cover %>
  <%= form.file_field :cover, direct_upload: true, class: "form-control" %>
  
  <% if article.cover.attached? %>
    <div class="mt-2">
      <p>Current image:</p>
      <%= image_tag article.cover.variant(resize_to_limit: [200, 200]), class: "preview-image" %>
    </div>
  <% end %>
</div>

  <!-- Submit button -->
  <div class="form-group mt-4">
    <%= form.submit class: "py-3 px-5 bg-blue-600 text-white rounded-lg" %>
  </div>
<% end %>
