<h1><%= @movie_info["Title"] %></h1>

<% if @movie_info %>
  <p><strong>Year:</strong> <%= @movie_info["Year"] %></p>
  <p><strong>Genre:</strong> <%= @movie_info["Genre"] %></p>
  <p><strong>Director:</strong> <%= @movie_info["Director"] %></p>
  <p><strong>Plot:</strong> <%= @movie_info["Plot"] %></p>

  <% if @movie_info["Poster"] && @movie_info["Poster"] != "N/A" %>
    <%= image_tag(@movie_info["Poster"], alt: "Poster for #{@movie_info['Title']}") %>
  <% end %>
<% elsif @error_message %>
  <p><%= @error_message %></p>
<% else %>
  <p>No movie information available.</p>
<% end %>
